// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
$backgroundColor: #000;

// Primary/body text
$mainFont: 'Lato', sans-serif;
$codeFont: Menlo, monospace;
$mainFontSize: 36px;
$mainColor: #eee;
$secondaryColor: #999;
$tertiaryColor: #ccc;
$mutedColor: #666;
$white: #fff;

// Headings
$headingMargin: 0 0 20px 0;
$headingFont: 'League Gothic', Impact, sans-serif;
$headingColor: #eee;
$headingLineHeight: 1em;
$headingLetterSpacing: 0.02em;
$headingTextTransform: uppercase;
$headingTextShadow: 2px 2px 6px #000;
$paragraphTextShadow: 2px 2px 2px #000;

// Links and actions
$linkColor: #cff110;
$linkColorHover: #97948f;

// Text selection
$selectionBackgroundColor: #97948f;
$selectionColor: $white;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
	background: $backgroundColor;
}
