// Base theme template for reveal.js

/*********************************************
 * GLOBAL STYLES
 *********************************************/

body {
  background: black url("dark_colors_background.jpg") repeat center top;
}

.reveal {
	font-family: $mainFont;
	font-size: $mainFontSize;
	font-weight: 200;
	letter-spacing: -0.02em;
	color: $mainColor;

  pre code {
    background-color: black;
    color: $tertiaryColor;
    font-size: 1.15em;
    line-height: 1.45em;
    max-height: 500px;
  }
  .slides > section.present > .accessibilityWrapper {
    outline: none;
  }
  footer {
    position: fixed;
    height: 40px;
    width: 100%;
    bottom: 15px;
    left: 0;
    font-size: 45%;
    line-height: 1.25em;
    text-align: left;

    .copyright {
      display: inline-block;
      color: $secondaryColor;
      margin: 0px 15px;
      letter-spacing: -0.01em;
      font-style: italic;
    }
  }
}
::selection {
	color: $selectionColor;
	background: $selectionBackgroundColor;
	text-shadow: none;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal {
  h1, h2, h3, h4, h5, h6 {
    color: $headingColor;
  	font-family: $headingFont;
  	line-height: $headingLineHeight;
  	letter-spacing: $headingLetterSpacing;
    margin: $headingMargin;
  	text-transform: $headingTextTransform;
  	text-shadow: $headingTextShadow;
  }
  p, small, ul, ol, div.large-tag {
    text-shadow: $paragraphTextShadow;
  }

  h2.h1-style {
    font-size: 3.77em;
  }
  h1.h2-style,
  h3.h2-style {
    font-size: 2.11em;
  }
  h2.h3-style {
    font-size: 1.55em;
  }
  small {
    font-size: 0.5em;
    letter-spacing: 0;
    text-transform: none;
  }
  .large-tag {
    font-family: $codeFont;
    font-size: 2.5em;
    margin-top: 0.5em;
  }
  .muted {
    color: $mutedColor;
  }
  ul.checkboxes {
    li {
      list-style: none;
      line-height: 1.25em;
      margin-bottom: 0.5em;
      text-indent: -1.5em;

      &:before {
        content: '\2610';
        font-size: 1.5em;
        margin-right: 0.25em;
      }
      &.checked:before {
        content: '\2611';
      }
    }
  }
  ul.spaced-list li {
    margin-bottom: 0.5em;
    margin-top: 0.75em;
  }
  ul.normal-list li {
    letter-spacing: 0;
    margin-bottom: 0.25em;
  }
  ul.smaller li {
    font-size: 0.9em;
    letter-spacing: 0;
    line-height: 1.5em;
    margin: 0;
  }
  ul.smallest li {
    font-size: 0.75em;
    letter-spacing: 0;
  }
}
/*********************************************
 * LINKS
 *********************************************/

.reveal {
  a:not(.image), .highlight {
  	color: $linkColor;
  	text-decoration: none;

  	-webkit-transition: color .15s ease;
  	   -moz-transition: color .15s ease;
  	    -ms-transition: color .15s ease;
  	     -o-transition: color .15s ease;
  	        transition: color .15s ease;
  }
	a:not(.image):hover {
		color: $linkColorHover;

		text-shadow: none;
		border: none;
	}

  .roll span:after {
  	color: $white;
  	background: darken( $linkColor, 15% );
  }
}

/*********************************************
 * IMAGES
 *********************************************/

.reveal {
  section img {
  	margin: 15px 0px;
  	background: rgba(255,255,255,0.12);
  	border: 4px solid $mainColor;

  	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

  	-webkit-transition: all .2s linear;
  	   -moz-transition: all .2s linear;
  	    -ms-transition: all .2s linear;
  	     -o-transition: all .2s linear;
  	        transition: all .2s linear;
  }

	a:hover img {
		background: rgba(255,255,255,0.2);
		border-color: $linkColor;

		box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
	}
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/

.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
	border-right-color: $linkColor;
}

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
	border-left-color: $linkColor;
}

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
	border-bottom-color: $linkColor;
}

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
	border-top-color: $linkColor;
}

.reveal .controls div.navigate-left.enabled:hover {
	border-right-color: $linkColorHover;
}

.reveal .controls div.navigate-right.enabled:hover {
	border-left-color: $linkColorHover;
}

.reveal .controls div.navigate-up.enabled:hover {
	border-bottom-color: $linkColorHover;
}

.reveal .controls div.navigate-down.enabled:hover {
	border-top-color: $linkColorHover;
}


/*********************************************
 * PROGRESS BAR
 *********************************************/

.reveal .progress {
	background: rgba(0,0,0,0.2);
}
	.reveal .progress span {
		background: $linkColor;

		-webkit-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		   -moz-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		    -ms-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		     -o-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		        transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
	}

/*********************************************
 * LAYOUTS
 *********************************************/
.reveal li .twoThirdsCol {
  padding-top: 2%;

  small {
    clear: both;
    display: block;
    text-align: center;
  }
}
.reveal .wideCol {
  vertical-align: top;
  width: 54%;

  &.twoThirdsCol {
    float: left;
  }
}
.reveal .skinnyCol {
  vertical-align: top;
  width: 44%;

  &.twoThirdsCol {
    float: left;
    margin-right: 2%;
  }
}
.reveal .twoThirdsCol pre {
  font-size: .59em;
  margin-top: 0;
  width: 100%;
}

/*********************************************
 * Slide Styles
 *********************************************/
.reveal {
  button, x-tacobutton {
    background-color: $backgroundColor;
    border-radius: 10px;
    border-width: 0;
    color: $white;
    display: inline-block;
    font-size: 1em;
    padding: 0.25em 0.5em;
  }
  button {
    margin: 1.5em;
  }
  x-tacobutton {
    margin: 0;
  }
  x-tacobutton.pending,
  x-tacobutton.pending:focus,
  x-tacobutton.pending:hover,
  x-tacobutton.open,
  x-tacobutton.open:focus,
  x-tacobutton.open:hover {
    background-color: $secondaryColor;
    color: $white;
  }
  button:hover, button:focus,
  x-tacobutton:hover, x-tacobutton:focus {
    background-color: $linkColor;
    color: $backgroundColor;
    cursor: pointer;
  }
  button:active,
  x-tacobutton:active {
    background-color: $white;
    color: $backgroundColor;
  }
  #contentdiv {
    position: relative;
    padding-top: 1em;
    z-index: 2;

    h2, div {
      display: inline-block;
      margin: 0;
      padding: 0.25em;
      transition: all 0.5s;
    }
    div.cleardiv {
      display: block
    }
    &.initialized h2,
    .initialized div {
      background-color: rgba(0,0,0,0.9);
    }
    &.initialized div.cleardiv {
      background: none;
    }
  }
  .name-slide p {
    font-size: 0.75em;
    margin-bottom: 3%;
  }
  a.substantial-logo {
    color: $white;
    font-family: 'substantial-ico-fonts';
    letter-spacing: 0.3em;
    margin-left: 2%;
    position: relative;

    &:hover, &:focus {
      color: $linkColor;
      text-decoration: none;
      -webkit-transition: color 0.25s ease-out;
    }
  }
  .image-headline {
    background-size: 100% auto;
    border: 4px solid $mainColor;
    margin-bottom: 10px;
    min-height: 635px;
    width: 100%;

    &#the-project {
      background: transparent url(../../img/workstation.jpg) no-repeat center center;
    }
    &#the-presentation {
      background: transparent url(../../img/meeting-room.jpg) no-repeat center center;
    }
    h2 {
      font-size: 2.75em;
      padding-top: 0.5em;
    }
  }
}
