#slider-control {
	position: relative;
	margin: 0 auto 100px; 
	padding-top: 100px; 
}
#slider-control ^ .component-wrapper {
}
#slider-control ^ .well {
	display: inline-block;
	padding: 0 20px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	
	background: -moz-linear-gradient(top, #010101, #181818);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #010101),color-stop(1, #181818));
	
	border: 2px solid #454545; 
	overflow: hidden; 
	
	-webkit-user-select: none;
}

#slider-control ^ h2 {
  font-size: 40px;
  height: 71px;
  margin: 10px 0 8px;
  font-weight: 300;
  position: relative;
  padding: 0;
  width: 356px;
  z-index: 1;
  
  -webkit-text-size-adjust: none;
}
#slider-control ^ #slider {
	background: url(../demos/images/arrow.png) no-repeat;
	background-size: 100% auto;
	border: none;
	cursor: pointer;
	display: inline-block;
	padding-top: 15%;
	text-indent: -50000px;
	vertical-align: middle;
	line-height: 1;
	width: 100px;
}
#slider-control ^ .well span {
	color: #ccc;
	display: inline-block;
	right: 0px;
	position: absolute;
	top: 22px;
}
#slider-control ^ .trigger-button {
	background-color: #000;
	border-radius: 30px;
	border: none;
	color: #fff;
	cursor: pointer;
	display: block;
	height: 90px;
	opacity: 0;
	font-size: 200%;
	padding: 8px 10px;
	position: absolute;
	top: 0;
	width: 400px;
	transition: all 0.5s;
}
#slider-control ^ .trigger-button:hover,
#slider-control ^ .trigger-button:focus {
	background-color: red;
}
#slider-control ^ .trigger-button.visible {
	opacity: 1;
}
#slider-control ^ .trigger-button.hidden {
	opacity: 0;
}
